body {
  background-image: url('../images/background_6.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;
}
.signin{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.signin-img{
    height: 500px;
}
.card{
    width: 450px;
    margin-top: 50px;
    border: 1px solid #eeeeee;
    box-shadow: -10px 6px 5px 0px rgba(176,164,176,1) !important;
    transition: all .3s ease-in-out !important;
    padding: 10px 40px ;
}
.card-header{
    text-align: center;
}
.card-content-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.card-content-div > label{
    font-family: 'Montserrat', sans-serif;
    margin-bottom:  4px;
}
.card-input{
    width: 97%;
    padding :  10px 5px;
}
.card-btn{
    background-color: #eb3f5f;
    color: white;
    width: 103%;
    padding : 10px 5px;
    border-radius: 20px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
}
.card-btn:hover{
    background-color: #63ed35;
    color: rgb(40, 32, 41);
}
.signup-text{
    text-decoration: none;
    color: #dc4d4d;
}
.card-btn,
input
{
    outline-style: none;
}
@media (max-width:1000px){
    .signin-div{
         visibility: hidden;
        }
    .card{
        position: absolute;
        
    }
}
.scanner span {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
  }
  
  .scanner span::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #161717;
    overflow: hidden;
    color: #080808;
    animation: load91371 3s linear infinite;
  }
  
  @keyframes load91371 {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #0f1111;
    }
  
    60%, 80% {
      width: 100%;
    }
  }