@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./images/background_6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
.contain{
    position: relative;
}
.nav{
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    background-color: #8c0025;

}
.nav-item-left{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;   
}
.nav-item-right{
    display: flex;
    list-style-type: none;
    justify-content: space-between; 
    
}
.nav-link {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover{
    color: #E83A59;
}
.heading {
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.post {

    font-family: 'Poppins', sans-serif;
  
  }
#registered{
    color: black;
    font-size: 20px;
   margin-left: 2px;
}
 #listQues {
   margin-bottom: 15px;
    
}
p {
    line-height: 2;
    font-weight: 450;
}
#submit{
    background-color: rgb(233, 131, 131);
    color: rgb(31, 30, 30);
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    margin: auto;
    display: block;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 8%;
}
#submit:hover{
    background-color: rgb(81, 242, 12);
    color: white;
}
#answer{
    margin-left: 10px;
}